#ONas {
    display: flex;
    .ONas_column {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            &:last-of-type {
                margin-left: 250px;
            }
        }
    }
    .image {
        background-image: url('../assets/People.jpg');
        background-position: center;
        background-size: cover;
    }
    .text {
        p {
            &:last-of-type {
                width: 70%;
                font-size: 25px;
                line-height: 50px;
            }
        }
    }
}