.start_container {
    display: flex;
    align-items: center;
    .start_section1 {
        color: #333;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        p:first-of-type {
            margin-bottom: 0px;
        }
        p:last-of-type {
            margin-top: 10px;
        }
        .start_section1_buttons {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            }
        }
    }