#start {
    display: flex;
    align-items: center;
    .start_section {
        color: #333;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        p:first-of-type {
            margin-bottom: 0px;
        }
        p:last-of-type {
            margin-top: 10px;
        }
        .start_section_buttons {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            .btn {
                font-size: 30px;
                font-weight: 300;
                text-transform: uppercase;
                flex-basis: 45%;
                background-color: transparent;
                padding: 10px;
                border: 1px solid #333;
                &:hover {
                    cursor: pointer;
                }
                a {
                    text-decoration: none;
                    color: #333;
                }
            }
        }
    }
}